.App {
  text-align: center;
  color: white;
  background-color: #282c34;
  padding: 20px;
}

.datalists {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}

.success_list {
  color: green;
  border: 1px solid green;
  padding: 20px;
  width: 45%;
}

.success_list h4 {
  text-decoration: underline;
}

.fail_list {
  color: red;
  border: 1px solid red;
  padding: 20px;
  width: 45%;
}

.fail_list h4 {
  text-decoration: underline;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
